@if(loading) {
  <div class="loading-wrapper">
    <mat-spinner [diameter]="32"></mat-spinner>
    <span>Checking backend...</span>
  </div>
} @else {
  @if(generalError) {
    <div class="error-wrapper">
      <div class="general-error">
        <mat-icon>error</mat-icon>
        <span>{{ generalError }}</span>
      </div>
    </div>
  } @else {
    <mat-toolbar color="primary" class="app-toolbar">
      <span class="app-title">{{ title }}</span>

      <span class="spacer"></span>

      <!-- navigation of routes -->
      @for (route of routes; track route.path) {
        @if (isRouteAvailable(route)) {
          <button mat-button routerLink="{{ route.path }}" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: route.path === '' }">
            <mat-icon>{{ route.icon }}</mat-icon>
            {{ route.title }}
          </button>
        }
      }

      <!-- login/logout -->
      @if(!user || !user.username) {
        <button mat-button (click)="onLogin()">
          <mat-icon>login</mat-icon> 
        </button>
      } @else {
        <button mat-stroked-button (click)="onLogout()">
          <mat-icon>logout</mat-icon> 
          {{ user.username }}
        </button>
      }

    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  }
}