.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: linear-gradient(90deg, lavender, white);
  box-shadow: 0 2px 6px lightgray;
}

.app-title {
  font-weight: 500;
  font-size: 20px;
}

.spacer {
  flex: 1 1 auto;
}

.content {
  padding: 16px;
}

button.mat-mdc-button.active-link {
  border-radius: 0 !important;
  border-bottom: 1px solid black !important;
}

.error-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.general-error {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: red;
  color: white;
  border-radius: 4px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 8px;
}