.controls-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.controls-container .new-person-button {
    margin-left: 0;
}

.controls-container .spacer {
  flex: 1;
}

.controls-container .filter-field {
  width: 200px;
  margin-right: auto;
}

.badge-spacing {
  margin-right: 2rem;
}

.icon-with-label {
  display: flex;
  flex-direction: column;
}

.icon-label {
  font-size: 12px;
  line-height: 0;
  color: black;
}