.controls-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.controls-container .new-team-button {
    margin-left: 0;
}

.controls-container .spacer {
  flex: 1;
}

.controls-container .filter-field {
  width: 200px;
  margin-right: auto;
}