.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.w-full {
    width: 100%;
}

.team-chip {
  border: 1px;
  border-radius: 8px;
  border-color: black;
  padding: 4px 10px;
  margin-right: 10px;
}

.flex-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.flex-field {
  flex: 1 1 0;
  min-width: 100px;
}

.flex-field-1-2 {
  flex: 2 1 0;
  min-width: 100px;
}