<form [formGroup]="form">

    <mat-card>
        <mat-card-content class="form-container">

            <div class="flex-row">
                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>First name</mat-label>
                    <input matInput formControlName="firstname" placeholder="First name"/>
                    @if(form.get('firstname')?.invalid) {
                        <mat-error>First name is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Last name</mat-label>
                    <input matInput formControlName="lastname" placeholder="Last name"/>
                    @if(form.get('lastname')?.invalid) {
                        <mat-error>Last name is required</mat-error>
                    }
                </mat-form-field>    

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Birth date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthdate" placeholder="Birth date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if(form.get('birthdate')?.invalid) {
                        <mat-error>Birth date is invalid</mat-error>
                    }
                </mat-form-field>
            </div>

            <div class="flex-row">
                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Email"/>
                    @if(form.get('email')?.invalid) {
                        <mat-error>Email is invalid</mat-error>
                    }
                </mat-form-field>    

                <mat-form-field appearance="outline" class="flex-field-1-2">
                    <mat-label>Teams</mat-label>
                    <mat-select formControlName="team_ids" multiple>
                        <mat-select-trigger>
                            @for (id of form.controls['team_ids'].value; track id) {
                                <span class="selected-team">
                                    {{ teamsMap[id]?.name }}
                                </span>
                            }
                        </mat-select-trigger>
                        @for (team of teams; track team.id) {
                            <mat-option [value]="team.id">
                                <mat-chip class="team-chip" [style.background-color]="team.color" [ngStyle]="{
                                    'color': getContrastColor(team.color),
                                    'background-color': team.color
                                }"> {{ team.name }} </mat-chip>
                                <span> {{ team.longname }} </span>
                            </mat-option>                    
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>

</form>
