<form [formGroup]="form">

    <mat-card>
        <mat-card-content class="form-container">

            <div class="flex-row">
                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Name" required/>
                    @if(form.get('name')?.invalid) {
                        <mat-error>Name is required</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="flex-field">
                    <mat-label>Color</mat-label>
                    <mat-select formControlName="color" required>
                        @for (c of colors; track c) {
                        <mat-option [value]="c">
                            <span class="color-preview" [style.background]="c"></span>
                            {{ c }}
                        </mat-option>
                        }
                    </mat-select>
                    @if(form.get('color')?.invalid) {
                        <mat-error>Color is required</mat-error>
                    }
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Long name</mat-label>
                <input matInput formControlName="longname" placeholder="Long name" required/>
                @if(form.get('longname')?.invalid) {
                    <mat-error>Long name is required</mat-error>
                }
            </mat-form-field>

            <mat-label>Avatar</mat-label>
            <div class="flex-row">
                <div>
                    @if(row && row.has_avatar) {
                        <img alt="avatar" [src]="'/uploads/avatar/' + row.id + '.png?' + timestamp" class="avatar-image avatar-preview"/>
                    }
                </div>

                <div class="avatar-upload flex-field">
                    @if(row && row.has_avatar) {
                        <button type="button" class="upload-button mat-elevation-z2" (click)="clearExistingAvatar()">clear</button>
                    }
                </div>

                <!-- Avatar upload -->
                <div class="avatar-upload flex-field">
                    <input type="file" accept="image/*" (change)="onFileSelected($event)" id="avatarInput" hidden/>
                    <label for="avatarInput" class="upload-button mat-elevation-z2">
                        upload
                    </label>

                    @if(avatarPreview) {
                        <div class="avatar-preview">
                            <img [src]="avatarPreview" alt="Avatar Preview"/>
                            <button title="x" mat-icon-button color="warn" class="clear-btn" (click)="clearSelectedAvatar()" type="button">
                                <mat-icon>close</mat-icon>
                            </button>
                        </div>
                    }
                </div>
            </div>

        </mat-card-content>
    </mat-card>

</form>
