<table mat-table [dataSource]="teams" class="mat-compact-table mat-mdc-table" matSort matSortDisableClear (matSortChange)="onSortChange($event)">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="centered" mat-sort-header="1"> ID </th>
    <td mat-cell *matCellDef="let team" class="centered"> {{ team.id }} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="centered"> Name/Color </th>
    <td mat-cell *matCellDef="let team" class="centered">
    @if(team.color) {
      <mat-chip [style.background-color]="team.color" [ngStyle]="{
        '--mat-chip-label-text-color': getContrastColor(team.color),
        'background-color': team.color
      }"> {{ team.name }} </mat-chip>  
    }
    </td>
  </ng-container>

  <ng-container matColumnDef="avatar">
    <th mat-header-cell *matHeaderCellDef class="centered"> Avatar </th>
    <td mat-cell *matCellDef="let team" class="centered">
      @if (team.has_avatar) {
        <img alt="avatar" [src]="'/uploads/avatar/' + team.id + '.png?' + timestamp" class="avatar-image"/>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="longname">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="3"> Long name </th>
    <td mat-cell *matCellDef="let team">
      {{ team.longname }}
    </td>
  </ng-container>

  <ng-container matColumnDef="member_count">
    <th mat-header-cell *matHeaderCellDef class="centered"> #members </th>
    <td mat-cell *matCellDef="let team" class="centered">
      {{ team.member_count }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog(row)" class="clickable-row"></tr>
</table>
