.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.centered {
  text-align: center;
}

.avatar-image {
  border-radius: 20%;
  object-fit: cover;
  width: 24px;
  height: 24px;
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
